# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
#.env Este código foi comentado para não ter que gerar um .env

# The development sqlite file
database/development.sqlite
